# logs
*.log

# dependencies
node_modules/
package-lock.json

# dotenv environment variables file
.env

# vue stuff
db.json
public/
.deploy*/
src/_drafts

# mac stuff
.DS_Store
Thumbs.db

# vs code stuff
*.code-workspace